[class*="__container-sm"] {
  @include adaptiveValue("max-width", 1840, 1160,0,1920,1440);
  padding-left:toRem(20);
  padding-right:toRem(20);
}
// == Выстроить для смены порядка секций ==================
.page-home {
  .page {
    display: flex;
    flex-direction: column;
  }
}
// -- отступ от хедера на всех страницах.
.page {
@include adaptiveValue("padding-top", 105, 80,0,1920,1440);
}

// -- page navigation ================================
.page-nav {
  @media (min-width:$mobile){
    margin: toRem(10) 0;
  }
  @media (max-width:$mobile){
     display: none; 
  }
  // .page-nav__container
  &__container {
  }
  // .page-nav__list
  &__list {
    @media (min-width:$mobile){
      display: flex;
      flex-wrap: wrap;
    }
  }
  // .page-nav__item
  &__item {
    @media (min-width:$mobile){
      font-size: toRem(14);
      font-style: normal;
      font-weight: 400;
      list-style: none;
      line-height: normal;
      opacity: 0.2;
      position: relative;
      transition: opacity .3s ease;
    }
    @media (any-hover: hover){
      &:hover{
        @media (min-width:$mobile){
          opacity: 1;
        }
      }
    }
    &:not(:last-child) {
        @media (min-width:$mobile){
          margin-right: toRem(4);
        }
        @media (min-width:$mobile){
          &::after {
            content:'/';
            padding-left: toRem(3);
          }
        }
    }
  }
}


// hover with underline -----------------------------------
._hover-line {
  @media (min-width:$mobile){
    position: relative;
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: toRem(1);
      background-color: $mainColor;
      transform: scale(0, 1);
      transform-origin: 100% 50%;
      transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    @media (any-hover: hover){
      &:hover{
        &::before {
          transform: scale(1);
          transform-origin: 0 50%;
        }
      }
    }
  }
}

// == decor elements images =========================
.decor {
  pointer-events: none;
}

// buttons ===============================
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 100%;
  border: toRem(1) solid transparent;
  border-radius: toRem(14);
  padding: toRem(17);
  text-align: center;
  transition: color .3s ease, background-color .3s ease, border .3s ease;
  // .btn_01
  &_01 {
    background-color: $orange;
    color: white;
    &:hover {
      background-color: white;
      color: $mainColor;
      border-color: $mainColor;
    }
  }
  // .btn_02
  &_02 {
    border-color: $mainColor;
    background-color: white;
    &:hover {
      background-color: $orange;
      color: white;
      border-color: $orange;
    }
  }
  // .btn_03
  &_03 {
    background-color: white;
    &:hover {
      background-color: $blue;
      color: white;
      border-color: white;
    }
  }
  // .btn_04
  &_04 {
    background-color: $blue;
    color: white;
    border-color: white;
    &:hover {
      background-color: white;
      color: $mainColor;
    }
  }
}

.btn-arrow {
  display: block;
  transition: all .45s ease;
  @media (any-hover: hover){
    &:hover{
      transform: translateX(5px);
    }
  }
  // .btn-arrow_01
  &_01 {
    svg {
      @include adaptiveValue("width", 60, 40,0,1920,1440);
      @include adaptiveValue("height", 60, 40,0,1920,1440);
    }
  }
  // .btn-arrow_02
  &_02 {
    svg {
      @include adaptiveValue("width", 40, 30,0,1920,550);
      @include adaptiveValue("height", 40, 30,0,1920,550);
    }
  }
  // .btn-arrow_03
  &_03 {
    svg {
      @include adaptiveValue("width", 30, 20,0,1920,550);
      @include adaptiveValue("height", 30, 20,0,1920,550);
    }
  }
}

// colors ==============================
.color-orng {
  color: $orange;
}
.color-blue {
  color: $blue;
}
.color-gray {
  color: $gray;
}
.bg-orng {
  background-color: $orange;
}
.bg-blue {
  background-color: $blue;
}
.bg-gray {
  background-color: $gray;
}

// == paddings sections ----------------------
.pdd-sect {
  @include adaptiveValue("padding-top", 100, 60,2,1920,1440);
  @include adaptiveValue("padding-top", 60, 40,3,1439,768);
  @include adaptiveValue("padding-bottom", 100, 60,2,1920,1440);
  @include adaptiveValue("padding-bottom", 60, 40,3,1439,768);
}
.pdd-t {
  @include adaptiveValue("padding-top", 100, 60,2,1920,1440);
  @include adaptiveValue("padding-top", 60, 40,3,1439,768);
}
.pdd-b {
  @include adaptiveValue("padding-bottom", 100, 60,2,1920,1440);
  @include adaptiveValue("padding-bottom", 60, 40,3,1439,768);
}


// == TITLES and PARAGRAPHS ----------------------------------------
.title-big {
  @include adaptiveValue("font-size", 68, 45,2,1920,1440);
  @include adaptiveValue("font-size", 45, 30,3,1439,360);
  font-weight: 700;
  // .title-big_accent
  &_accent {
    color: $blue;
  }
  // .title-big_accent-2
  &_accent-2 {
    color: white;
  }
   // .title-big_lh
   &_lh {
    line-height: 1.2
   }
}
.title-big-2 {
  @include adaptiveValue("font-size", 68, 36,2,1920,1440);
  @include adaptiveValue("font-size", 36, 30,3,1439,360);
  font-weight: 700;
}

.title-two {
  @include adaptiveValue("font-size", 48, 32,2,1920,1440);
  @include adaptiveValue("font-size", 32, 20,3,1439,360);
  font-weight: 700;
  line-height: normal;
}
.title-three {
  @include adaptiveValue("font-size", 50, 30,2,1920,1440);
  @include adaptiveValue("font-size", 37, 30,3,1439,360);
  font-weight: 700;
}

.txt-one {
  @include adaptiveValue("font-size", 40, 26,2,1920,1440);
  @include adaptiveValue("font-size", 26, 16,3,1439,360);
  font-weight: 400;
  line-height: 1.2;
}
.txt-two {
  @include adaptiveValue("font-size", 28, 16);
  font-weight: 500;
  line-height: normal;
}
.txt-three {
  @include adaptiveValue("font-size", 36,22,2,1920,1440);
  @include adaptiveValue("font-size", 22, 18,3,1439,360);
  font-weight: 700;
  line-height: 1.2;
}
.txt-four {
  font-family: "Inter"; // INTER !!!! ===============
  @include adaptiveValue("font-size", 16, 10);
  font-weight: 500;
  line-height: normal;
}
.txt-five {
  @include adaptiveValue("font-size", 26, 18,2,1920,1440);
  @include adaptiveValue("font-size", 18, 14,3,1439,480);
  font-weight: 700;
}
.txt-six {
  @include adaptiveValue("font-size", 36, 26,0,1920,1440);
  font-weight: 500;
  line-height: 1.2;
}
.txt-seven {
  @include adaptiveValue("font-size", 22, 16,0,1920,1440);
  font-weight: 400;
  line-height: 1.2;
}
.txt-eight {
  @include adaptiveValue("font-size", 22, 18);
  font-weight: 400;
  line-height: normal;
}
.txt-nine {
  @include adaptiveValue("font-size", 24, 18,0,1920,1440);
  font-weight: 700;
  line-height: 1.2;
}
.txt-ten {
  @include adaptiveValue("font-size", 22, 10);
  font-weight: 700;
  line-height: normal;
}
.txt-eleven {
  @include adaptiveValue("font-size", 20, 16);
  font-weight: 400;
  line-height: normal;
}
.txt-twelve {
  @include adaptiveValue("font-size", 30, 18);
  font-weight: 700;
  line-height: 1.2;
}
.txt-mac-01 {
  @include adaptiveValue("font-size", 18, 14,0,1920,1440);
  font-weight: 700;
  line-height: 1.2;
}
.txt-mac-02 {
  font-size: toRem(16);
  font-weight: 700;
  line-height: 1.35;
}
.txt-mac-03 {
  @include adaptiveValue("font-size", 16, 14,0,1920,1440);
  font-weight: 500;
  line-height: normal;
}
.txt-mac-04 {
  @include adaptiveValue("font-size", 18, 14,0,1920,1440);
  font-weight: 400;
  line-height: normal;
}
.txt-mac-05 {
  @include adaptiveValue("font-size", 28, 18,0,1920,1440);
  font-weight: 700;
  line-height: 1.2;
}
.txt-mac-06 {
  @include adaptiveValue("font-size", 18, 16,0,1920,1440);
  font-weight: 400;
  line-height: 1.2;
}

// == LINES ON ALL PAGES =================================
.line-dark {
  @media (min-width:$mobile){
    border-bottom: toRem(1) solid rgba(0, 0, 0, 0.1)
  }
}
.line-light {
  @media (min-width:$mobile){
    border-bottom: toRem(1) solid rgba(255, 255, 255, 0.1)
  }
}

// == block of titles =====================
.block-title {
  @include adaptiveValue("margin-bottom", 50, 30,0,1920,768);
  text-align: center;
  // .block-title__title
  &__title {
  }
	// .block-title__txt
	&__txt {
    @include adaptiveValue("margin-top", 30, 10,0,1920,768);
	}
}

// == cards wrapper ==================
.box-wrap {
  border-radius: toRem(20);
  background-color: white;
  box-shadow: 0px 5px 30px 0px #D4E5F0;
}

.card-blur {
  border-radius: toRem(20);
  border: 2px solid rgba(61, 162, 255, 0.50);
  background: rgba(255, 255, 255, 0.70);
  backdrop-filter: blur(20px);
}

// == grid block ===========================
.grid-block {
  display: grid;
  @media (min-width:$mobile){
    grid-template-columns: 1fr 59.6%;
  }
  @media (max-width:$mobile){
     grid-template-columns: 1fr; 
  }
}

.pdd-rb {
  @media (min-width:$mobile){
    padding-right: toRem(20); 
  }
  @media (max-width:$mobile){
     margin-bottom: toRem(20); 
     position: relative;
     z-index: 2;
  }
}

// == SECTION PROJECTS-HOME =======================================
.projects-home {
  display: grid;
  @include adaptiveValue("gap", 20, 15,0,1920,1440);
  @include adaptiveValue("margin-bottom", 50, 20);
  @media (min-width:$tablet){
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width:$tablet){
    grid-template-columns: repeat(2, 1fr);    
  }
  @media (max-width: em(650.98)){
      grid-template-columns: 1fr;
  }
  // .projects-home__item
  &__item {
    border-radius: toRem(20);
    background: #FFF;
    overflow: hidden;
    box-shadow: 0px 5px 30px 0px #D4E5F0;
  }
  // .projects-home__link-ibg
  &__link-ibg {
    display: block;
    border-radius: toRem(20);
    overflow: hidden;
    @include adaptiveValue("margin-bottom", 20, 15,0,1920,1440);
    video {
      position: absolute;
      inset: 0;
      object-fit: cover;
    }
      padding-bottom: 45%;
  }
  // .projects-home__body
  &__body {
    @include adaptiveValue("padding-left", 40, 15,0,1920,1024);
    @include adaptiveValue("padding-right", 40, 15,0,1920,1024);
    @include adaptiveValue("padding-bottom", 40, 10,0,1920,1024);
    display: flex;
    flex-direction: column;
  }
  // .projects-home__title
  &__title {
    @include adaptiveValue("margin-bottom", 20, 10,0,1920,1440);
  }
  // .projects-home__list
  &__list {
    @include adaptiveValue("margin-bottom", 15, 10,0,1920,480);
    @include adaptiveValue("gap", 30, 5,2,1920,992);
    @media (min-width:$tablet){
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width:$tablet){
      display: flex;
      flex-wrap: wrap;
      column-gap: toRem(30);
      row-gap: toRem(10);
    }
  }
  // .projects-home__li
  &__li {
    @media (max-width:$tablet){
      max-width: toRem(210);
    }
  }
  // .projects-home__name
  &__name {
    @include adaptiveValue("margin-bottom", 10, 2);
  }
  // .projects-home__sub-name
  &__sub-name {
    color: $blue;
    // word-break: break-all;
  }
  // .projects-home__btn
  &__btn {
    display: inline-block;
    align-self: flex-end;
  }
}

// == SECTION COST-FORM =======================================
.cost-form {
  // .cost-form__container
  &__container-sm {
    position: relative;
    @media (min-width:$mobile){
       column-gap: toRem(20); 
       grid-template-columns: 39% 1fr;
    }
  }
  // .cost-form__bg
  &__bg {
    @media (min-width:$mobile){
      position: absolute;
      z-index: 0;
    }
    @media (max-width:$mobile){
       display: none; 
    }
    img {
      @media (min-width:$mobile){
        height: auto;
        position: absolute;
      }
    }
    // .cost-form__bg_01
    &_01 {
      @media (min-width:$mobile){
        top: 0;
        right: toRem(20);
        img {
          @include adaptiveValue("width", 200,112,0,1920,1440);
          transform: rotate(190deg);
          bottom: 0;
          right: 0;
        }
      }
    }
    // .cost-form__bg_02
    &_02 {
      @media (min-width:$mobile){
        bottom: -2%;
        left: 22%;
        img {
          @include adaptiveValue("width", 170,94,0,1920,1440);
          top: 0;
          left: 0;
        }
      }
    }
  }
  // .cost-form__photo
  &__photo {
    position: relative;
    z-index: 1;
    @media (max-width:$tablet){
    }
    @media (min-width:$mobile){
        display: flex;
    }
    @media (max-width:$mobile){
       justify-self: center; 
    }
  }
	// .cost-form__photo-wr
	&__photo-wr {
    @media (min-width:$mobile){
      display: flex;
      flex-direction: column;
      align-items: center; 
    }
	}
  // .cost-form__image
  &__image {
    border-radius: 50%;
    @include adaptiveValue("width", 314, 260,0,1920,1440);
    @include adaptiveValue("height", 314, 260,0,1920,1440);
    position: relative;
    background-color: $gray-EB;
    @media (min-width:$mobile){
      margin-bottom: toRem(20);
    }
    @media (max-width:$mobile){
       margin-bottom: toRem(40); 
    }
    &:before {
      content:'';
      position: absolute;
      inset: 0;
      border-radius: 50%;
      @media (min-width:$mobileSmall){
        border: toRem(10) solid #FFF;
      }
      @media (max-width:$mobileSmall){
         border: toRem(4) solid #fff; 
      }
    }
    &:after {
      content: '';
      background-image: url(@img/icons/skew-lines.svg);
      background-size: 100% 100%; 
      position: absolute;
      right: -9%;
      bottom: 0;
      @include adaptiveValue("width", 129, 120,0,1920,1440);
      @include adaptiveValue("height", 90, 83,0,1920,1440);
    }
    img {
      max-width: 100%;
    }
  }
  // .cost-form__qoute
  &__qoute {
    @media (min-width:$mobile){
      color: white;
      text-align: center;
      max-width: toRem(344);
    }
    @media (max-width:$mobile){
       display: none; 
    }
  }
  // .cost-form__body
  &__body {
    position: relative;
    z-index: 1;
  }
  // .cost-form__title
  &__title {
    @include adaptiveValue("margin-bottom", 30, 10);
  }
  // .cost-form__txt
  &__txt {
    color: white;
    @include adaptiveValue("margin-bottom", 50, 30);
    @media (min-width:$mobileSmall){
      max-width: toRem(536);
    }
  }
  // .cost-form__form
  &__form {
  }
}

// == SECTION FORM-TWO =======================================
.form-two {
  // .form-two__container
  &__container {
  }
  // .form-two__block
  &__block {
    display: flex;
    row-gap: toRem(78);
    @media (min-width:$mobile){
      padding-right: toRem(20); 
      flex-direction: column;
      justify-content: space-between;
    }
    @media (max-width:$mobile){
       flex-direction: column-reverse; 
       margin-bottom: toRem(20);
    }
  }
  // .form-two__title
  &__title {
 
  }
  // .form-two__bottom
  &__bottom {
    max-width: toRem(345);
  }
  // .form-two__logo
  &__logo {
    max-width: 100%;
    @media (min-width:$mobileSmall){
       margin-bottom: toRem(10); 
    }
    @media (max-width:$mobileSmall){
       margin-bottom: toRem(20); 
    }
  }
  // .form-two__txt-01
  &__txt-01 {
    color: white;
  }
  // .form-two__body
  &__body {
  }
  // .form-two__sub-title
  &__sub-title {
    @include adaptiveValue("margin-bottom", 60, 40);
  }
  // .form-two__form
  &__form {
  }
}


// == SECTION BRAND LINE MOVE TO =============================
.trust-brand {
  // .trust-brand__container
  &__container {
  }
  // .trust-brand__title
  &__title {
    .block-title__txt {
      @media (max-width:$mobileSmall){
        max-width: toRem(280);
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  // .trust-brand__body
  &__body {
    overflow: hidden;
    width: max-content;
    display: flex;
      // .trust-brand__body_01
      &_01 {
        @media (min-width:$mobileSmall){
           margin-bottom: toRem(20); 
        }
        @media (max-width:$mobileSmall){
           margin-bottom: toRem(10); 
        }
      }
      // .trust-brand__body_02
      &_02 {
      }
  }
  // .trust-brand__list-1
  &__list-1,
  &__list-2 {
    display: flex;
    flex-wrap: nowrap;
  }
  &__list-1 {
    animation: scroll 40s linear infinite;
  }
  &__list-2 {
    flex-direction: row-reverse;
    animation: scroll2 40s linear infinite;
  }
  // .trust-brand__item
  &__item {
    border-radius:50%;
    background-color: $gray-F7;
    @include adaptiveValue("width", 300, 180,2,1920,1440);
    @include adaptiveValue("width", 180, 92,3,1439,480);
    @include adaptiveValue("height", 300, 180,2,1920,1440);
    @include adaptiveValue("height", 180, 92,3,1439,480);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    @media (max-width:$mobileSmall){
       margin: 0 3px; 
    }
    img {
      display: block;
      margin: 0 auto;
      @media (min-width:$mobileSmall){
        max-width: 75%;
      }
      @media (max-width:$mobileSmall){
         max-width: 70%; 
      }
    }
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes scroll2 {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

// == SPOLLERS ===================================================
.spollers {
  // .spollers__item
  &__item {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 20, 10,0,1920,1440);
    }
  }
  // .spollers__summary
  &__summary {
    cursor: pointer;
    border-radius: toRem(20);
    @include adaptiveValue("padding-top", 26, 15,0,1920,1440);
    @include adaptiveValue("padding-bottom", 26, 15,0,1920,1440);
    @include adaptiveValue("padding-left", 40, 20,0,1920,1440);
    @include adaptiveValue("padding-right", 40, 20,0,1920,1440);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: toRem(20);
    &._spoller-active {
      .spollers__button {
        &::after {
          width: 0;
        }
      }
    }
  }
  // .spollers__title
  &__title {
    color: white;
  }
  // .spollers__button
  &__button {
    display: block;
    flex: 0 0 auto;
    @include adaptiveValue("width", 70, 30,0,1920,1440);
    @include adaptiveValue("height", 70, 30,0,1920,1440);
    border-radius: 50%;
    background-color: white;
    position: relative;
    &::before,
    &::after {
      content:'';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 55%;
      height: toRem(2);
      background-color: #000;
      transition: width .3s ;
      @media (max-width:$mobileSmall){
         height: toRem(1); 
      }
    }
    &::after {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }
  // .spollers__body
  &__body {
    @include adaptiveValue("padding", 40, 15,0,1920,1440);
  }
  // .spollers__content
  &__content {
  }
  // .spollers__sub-title
  &__sub-title {
    @include adaptiveValue("margin-bottom", 20, 7,0,1920,1440);
  }
  // .spollers__txt
  &__txt {
  }
}

.swiper {
	@media (min-width:$mobile){
		overflow: hidden;
	}
}
.swiper-initialized {
	touch-action: pan-y;
}
.swiper-wrapper {
	width: 100%;
	height: 100%;
	box-sizing: content-box;
	display: flex;
	position: relative;
}
.swiper-vertical {
	.swiper-wrapper {
		flex-direction: column;
	}
}
.swiper-autoheight {
	.swiper-wrapper {
		align-items: flex-start;
	}
}
.swiper-initialized {
	.swiper-slide {
		flex-shrink: 0;
		// transition-property: transform;
	}
}
.swiper-android {
	.swiper-slide,
	.swiper-wrapper {
		transform: translate3d(0px, 0, 0);
	}
}
.swiper-button-lock {
	display: none !important;
}
